body {
    padding-top: 5rem;
}

.form-label {
    font-weight: bold;
}

#id {
    width: 100%;
}

.form-element {
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}